/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
//Typography Styles 
h1,h2,h3,p {

}

h1 {
    font-size: 80px;
    font-family: 'Unica One', cursive;
}

h2 {
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;

}

h3 {
    font-size: 40px;
    font-family: 'Bungee Shade', cursive;

}

p {
    font-size: 20px;
    margin: 200px;
    font-family: 'Press Start 2P', cursive;

    
}
.home-callout, .navbar{
 
    background: #304352; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #304352 , #d7d2cc); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #304352 , #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navdar-brand {
    font-family: 'Bangers', cursive;
    font-weight:800;
}


    
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand  {
    color:red;
    font-family: 'Bangers', cursive;    font-size: 30px;
    padding: 50px;
}
 
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-nav > li > a:hover{
     color:white;
     opacity: 0.75;
     font-family:'VT323', monospace;
     font-size: 30px;
 }   
 

//NAv styles
.navbar{
    
    border: none;
    
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}

//Homepage Styles
.container-fluid { 
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -20px;
}




body {
    
    background: #304352; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #304352 , #d7d2cc); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #304352 , #d7d2cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    
.container-fluid {
    margin-right: 30px;
    margin-left: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-right {
    margin-top: -100px;
}